{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<div class="d-flex justify-content-center">
<button id="crear_4g" class="btn btn-primary ">Crear 4g</button>
</div>

<div class="container p-3 my-3 border">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="container">
      
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" name="myfile" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
      <br>
      <br>
      
      <button type="submit"  class="btn btn-primary float-right">Subir al servidor</button>
      <br>
      <br>
    </div>
  </form>
</div>

<div class="container">
  {% if uploaded_file_url %}
  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  <p></p>
  <ul class="list-group"></ul>
  <li class="list-group-item active">Lista de archivos subidos</li>
  {% for file in list_files %}
  <li class="list-group-item">
    <a href="../static/files/{{file}}">{{ file }}</a>
  </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}

{% block javascript %}

<script type = "text/JavaScript">
$('#crear_4g').click(function(){
  $.get("../polls/crear_4g/", function(data, status){
    console.log("Hola Mundo: " + status);
  });
});
</script>
{% endblock %}