{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="row" style="display: inline-block;">
    <h1> View Kpis:</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> <a
                href="http://localhost:3000/d/Sy9grfnMz/systemprogram_3g_cell_level?orgId=1&from=1595088004783&to=1595112009575&var-wbts_name=RIO_MARANON"
                target="none"> RIO_MARANON </a>
              
            </li>
        <li class="list-group-item"> <a
                href="http://localhost:3000/d/Sy9grfnMz/systemprogram_3g_cell_level?orgId=1&from=1595088004783&to=1595112009575&var-wbts_name=RIO_MAYA"
                target="none"> RIO_MAYA</a> </li>
        <li class="list-group-item"> <a
                href="http://localhost:3000/d/Sy9grfnMz/systemprogram_3g_cell_level?orgId=1&from=1595088004783&to=1595112009575&var-wbts_name=RIO_MOCHE_NEW"
                target="none"> RIO_MOCHE_NEW </a> </li>
        <li class="list-group-item"> <a
                href="http://localhost:3000/d/Sy9grfnMz/systemprogram_3g_cell_level?orgId=1&from=1595088004783&to=1595112009575&var-wbts_name=RIO_TIRANA"
                target="none"> RIO_TIRANA </a> </li>
        <li class="list-group-item"> <a
                href="http://localhost:3000/d/Sy9grfnMz/systemprogram_3g_cell_level?orgId=1&from=1595088004783&to=1595112009575&var-wbts_name=SAGITARIO_CT"
                target="none"> SAGITARIO_CT </a> </li>
        <li class="list-group-item"> <a
                href="http://localhost:3000/d/Sy9grfnMz/systemprogram_3g_cell_level?orgId=1&from=1595088004783&to=1595112009575&var-wbts_name=SINAI_DEL_RIO"
                target="none"> SINAI_DEL_RIO </a> </li>
    </ul>


</div>

{% endblock content%}